<div class="span6 offset4 text-center steamy-hottub">


	<h1 class="custom-font">Hi, I'm David.</h1>

	<h2>I'm having a blast learning how to code!</h2>

	<%= link_to 'Launch my App', '#', :class => 'btn btn-primary btn-large' %>


</div>