<div class="row-fluid">

	<div class="span6 offset3 text-center steamy-hottub">


		<h1 class="custom-font">Hi, I'm David.</h1>

		<h2>I'm having a blast learning how to code web applications!</h2><br>
		

			<%= link_to 'Statuses', pics_path, :class => 'btn btn-warning btn-large' %>
			<%= link_to 'Post', new_pic_path, :class => 'btn btn-warning btn-large' %>
		
		
		<br>

	</div>
</div>


<div class="row-fluid">
	<div class="span6 offset3 text-center steamy-hottub">

		<h2>Created by David Weinberger at the RISD Firehose Weekend web development program on 2/7/14.
		</h2>		

	</div>

</div>