/*This site was hacked together by David with lots of hot tub power*/
@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);


.steamy-hottub {

	box-shadow: 2px -2px 2px 2px rgba(36,32,33,0.40);
	background-color: rgba(36,32,33,0.40);
	padding: 1%;
	margin-top: 80px;

}

body {

	background: url('bg3.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

/*new class for one h1*/
.custom-font {
	color:white;
	font-size: 60px;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif; /*in order of the fonts that you want*/
	font-weight:100;
	line-height: 60px; /*changes the height of the line to prevent text from overlapping on two lines*/
}

/*for use on every h2 - no period = red*/
h2 {
	color:white;
	font-size: 24px;
	font-family: 'Over the Rainbow', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif;
	font-weight:200;
}