/*This site was hacked together by David with lots of hot tub power*/
@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);

div.row-fluid [class*="span"] .center-in-span { 
   float: none; 
   margin: 0 auto; 
   text-align: center; 
   display: block; 
   width: auto; 
   height: auto;
}


.steamy-hottub {

	box-shadow: 2px -2px 2px 2px rgba(25,25,25,0.85);
	background-color: rgba(25,25,25,0.85);
	padding: 1.5%;
	margin-top: 40px;
	margin-bottom: 80px;

}

body {

	background: url('bg_edited-2.jpg') no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

}

/*new class for one h1*/
.custom-font {
	color:white;
	font-size: 72px;
	font-family: Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif; /*in order of the fonts that you want*/
	font-weight:100;
	line-height: 72px; /*changes the height of the line to prevent text from overlapping on two lines*/
	margin-bottom: 20px;
}

/*for use on every h2 - no period = red*/
h2 {
	color:white;
	font-size: 30px;
	font-family: 'Over the Rainbow', Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif;
	font-weight:100;
}

label {
	color:white;
	font:Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucia Grande, sans-serif;
	font-size: 24px;
	font-weight:100;
}